<% layout("/layouts/boilerplate.ejs") -%>

<body>
    <h1>All the homes</h1>

    <div class="row  row-cols-md-3 ">
      <% for (let listing of allListings) { %>
        <div class="col">
          <div class="listing-card card h-100">
            <a href="/listings/<%= listing._id %>">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title || 'No Title' %>">
            </a>
            <div class="card-body">
              <h5 class="card-title"><%= listing.title || 'No Title Available' %></h5>
              <p class="card-text"><%= listing.description || 'No Description Available' %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">&#8377;<%= (listing.price || 0).toLocaleString("en-IN") %></li>
              <li class="list-group-item"><%= listing.location || 'Location Unknown' %></li>
              <li class="list-group-item"><%= listing.country || 'Country Unknown' %></li>
            </ul>
          </div>
        </div>
      <% } %>
    </div>
</body>